:root{
    --primary-color:#212121;
    --grey-color:#757575;
    --blue-color:#2196F3;
    --white-color:#FFFFFF;
    --primary-bg-color:#F5F4FA;
    --back-color:#2196F3;
    --footer-color:#2F303A;
    --background-color: #fff;
    --footer-primary-color:rgba(255, 255, 255, 0.6);

}
body {
    color: var(--grey-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    outline: 2px solid red;

}

/*List*/

.list{
    list-style: none;
}

/*header*/
.header{
    font-weight: 500;
    line-height:1.14;
    letter-spacing: 0.02em;
}

.link-container{
    display: flex;
    align-items: center;  
}

/*logo*/ 
.logo { 
    color:var(--blue-color);
    font-family: 'Raleway', cursive;
    font-weight: 700;
    font-size: 26px;
    line-height:1.2;
    text-decoration: none;
}

.logo:hover,.logo:focus {
    color: var(--primary-color);
}

.logo-black{
    color: var(--primary-color);
}

.logo-black:hover, .logo-black:focus{
    color: var(--blue-color);
}

/*site-nav*/

.site-nav{
    display: flex;
    margin-left: 93px;
    color: var(--primary-color);
}

.site-nav .item + .item{
   margin-left: 50px;
}

.site-nav .blue{
    color:var(--blue-color);
}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--primary-color);
}

.link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    color: currentColor;
}

/*auth-nav*/
.auth-nav{
    display: flex;
    margin-left: 250px;
    color:var(--grey-color);
}

.auth-nav .item + .item{
    margin-left: 50px;
}

.auth-nav .link:hover, .auth-nav .link:focus{
    color: var(--primary-color);
}

/*Button*/



.filter-button{
    cursor: pointer;
    font-family: inherit;
    background-color: var(--primary-bg-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.filter-button:hover, .filter-button:focus{
    background-color: var(--blue-color);
    color: var(--white-color);
    }

/*Hero*/

.hero{
    background: var(--footer-color);
}

.hero-title{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button{
    cursor: pointer;
    font-family: inherit;
    color: var(--white-color);
    background-color:var(--back-color);
    font-weight: 700;
    font-size: 16px;
    line-height:1.9;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*index section */
.section-title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.studio-title{
    color: var(--primary-color);
    font-weight: 700;  
    font-size: 14px;
    line-height:1.14;
    text-transform: uppercase;
}

/*index section */

.team-name{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height:1.19;
}

.team-work{
    font-weight: 400;
    font-size: 16px;
    line-height:1.19;
}

/* section portfolio*/

.list-container{
    display: flex;
    flex-wrap: wrap;
}

.element{
    width: 370px;

    margin-right: 30px;
    margin-bottom: 30px;
}




.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-color);

}

.portfolio-text{
    font-size: 16px;
    line-height:1.9;
    letter-spacing: 0.06em;
}
/*footer*/
.footer{
    background:var(--footer-color);
}

.footer:hover, .footer:focus {
    color: var(--primary-color);
}

/*address*/

.address{
    color:var(--footer-primary-color);
    font-style: inherit;
}

.logo-white{
    color: var(--white-color);
}

.logo-white:hover, .logo-white:focus{
    color: var(--blue-color);
}

.address-link{
    color: var(--white-color);
}

.address-link:hover, .address-link:focus {
    color: var(--blue-color);
}

.address-mail:hover, .address-mail:focus{
    color: var(--blue-color);
}

.address-phone:hover, .address-phone:focus{
    color: var(--blue-color);
}

